@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
/*
	Read Only by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

@import "libs/skel";
@include skel-breakpoints(( xlarge: '(max-width: 1680px)',
large: '(max-width: 1280px)',
medium: '(max-width: 1024px)',
small: '(max-width: 736px)',
xsmall: '(max-width: 480px)'));
@include skel-layout(( reset: 'full',
boxModel: 'border',
grid: ( gutters: 2em),
conditionals: true,
containers: 45em,
breakpoints: ( large: ( containers: 42em, grid: ( gutters: 1.5em)), medium: ( containers: (85%, true), ), small: ( containers: (90%, true), grid: ( gutters: 1.25em)))));
$size-header: 23em;
/* Basic */

body {
	background: _palette(bg);
}

body,
input,
select,
textarea {
	color: _palette(fg);
	font-family: _font(family);
	font-size: 16pt;
	font-weight: _font(weight);
	line-height: 1.75em;
}

a {
	@include vendor('transition',
	('color #{_duration(transition)} ease-in-out',
	'border-color #{_duration(transition)} ease-in-out'));
	border-bottom: solid 1px _palette(border2);
	color: inherit;
	text-decoration: none;
	&:hover {
		border-bottom-color: transparent;
		color: _palette(accent1, bg) !important;
	}
}

strong,
b {
	color: _palette(fg-bold);
	font-weight: _font(weight-bold);
}

em,
i {
	font-style: italic;
}

p {
	margin: 0 0 _size(element-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: _palette(fg-bold);
	font-weight: _font(weight-bold);
	line-height: 1em;
	margin: 0 0 (_size(element-margin) * 0.25) 0;
	a {
		border: 0;
		color: inherit;
		text-decoration: none;
	}
}

h2 {
	font-size: 2em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: solid _size(border-width) _palette(border);
	margin: _size(element-margin) 0;
	&.major {
		margin: (_size(element-margin) * 1.5) 0;
	}
}

blockquote {
	border-left: solid (_size(border-width) * 4) _palette(border2);
	font-style: italic;
	margin: 0 0 _size(element-margin) 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: #555;
	border-radius: _size(border-radius);
	color: #fff;
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0 _size(element-margin) 0;
	code {
		-webkit-overflow-scrolling: touch;
		display: block;
		line-height: 1.5em;
		overflow-x: auto;
		padding: 1em 1.5em;
	}
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.hidden {
	display: none;
}

/* Section/Article */

section,
article {
	&.special {
		text-align: center;
	}
}

header {
	p {
		color: _palette(fg-light);
		position: relative;
		margin: 0 0 (_size(element-margin) * 0.75) 0;
	}
	h2+p {
		font-size: 1.25em;
		margin-top: -0.5em;
		line-height: 1.5em;
	}
	h3+p {
		font-size: 1.1em;
		margin-top: -0.35em;
		line-height: 1.5em;
	}
	h4+p,
	h5+p,
	h6+p {
		font-size: 0.9em;
		margin-top: -0.25em;
		line-height: 1.5em;
	}
	&.major {
		margin-bottom: 2em;
		h2 {
			color: _palette(accent1, bg);
			font-size: 3.5em;
			&+p {
				color: _palette(fg-bold);
				font-size: 1.75em;
				font-weight: _font(weight-bold);
				margin-top: -0.75em;
				margin-bottom: .25em;
			}
		}
	}
}

.contingut {
	img {
		max-width: 100%;
		width: auto!important;
		height: auto!important;
	}

	.incrustat {
		height:0;
		margin-bottom: 20px;
		padding-top: 30px;
		position: relative;
		overflow: hidden;
	}
	.incrustat iframe,
	.incrustat object,
	.incrustat embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	/* Ratios */
	.inc3-2 {
		padding-bottom: 66.66%;
	}
	.inc4-3 {
		padding-bottom: 75%;
	}
	.inc8-5 {
		padding-bottom: 62.5%;
	}
	.inc16-9 {
		padding-bottom: 56.25%;
	}
	.inc256-81 {
		padding-bottom: 31.64062%;
	}
}

footer {}

/* Form */

form {
	margin: 0 0 _size(element-margin) 0;
}

label {
	color: _palette(fg-bold);
	display: block;
	font-size: 0.9em;
	font-weight: _font(weight-bold);
	margin: 0 0 (_size(element-margin) * 0.5) 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	@include vendor('appearance',
	'none');
	border-radius: _size(border-radius);
	border: none;
	border: solid _size(border-width) _palette(border2);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	&:invalid {
		box-shadow: none;
	}
	&:focus {
		border-color: _palette(accent1, bg);
	}
}

.select-wrapper {
	@include icon;
	display: block;
	position: relative;
	&:before {
		color: _palette(border2);
		content: '\f078';
		display: block;
		height: _size(element-height);
		line-height: _size(element-height);
		pointer-events: none;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: _size(element-height);
	}
	select::-ms-expand {
		display: none;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: _size(element-height);
}

textarea {
	padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
	@include vendor('appearance',
	'none');
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
	&+label {
		@include icon;
		color: _palette(fg);
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		font-weight: _font(weight);
		padding-left: (_size(element-height) * 0.6) + 0.75em;
		padding-right: 0.75em;
		position: relative;
		&:before {
			background: _palette(border-bg);
			border-radius: _size(border-radius);
			border: solid _size(border-width) _palette(border2);
			content: '';
			display: inline-block;
			height: (_size(element-height) * 0.6);
			left: 0;
			line-height: (_size(element-height) * 0.575);
			position: absolute;
			text-align: center;
			top: 0;
			width: (_size(element-height) * 0.6);
		}
	}
	&:checked+label {
		&:before {
			background: _palette(accent2, bg);
			border-color: _palette(accent2, bg);
			color: _palette(accent2, fg-bold);
			content: '\f00c';
		}
	}
	&:focus+label {
		&:before {
			border-color: _palette(accent1, bg);
		}
	}
}

input[type="checkbox"] {
	&+label {
		&:before {
			border-radius: _size(border-radius);
		}
	}
}

input[type="radio"] {
	&+label {
		&:before {
			border-radius: 100%;
		}
	}
}

::-webkit-input-placeholder {
	color: _palette(fg-light) !important;
	font-style: italic;
	opacity: 1.0;
}

:-moz-placeholder {
	color: _palette(fg-light) !important;
	font-style: italic;
	opacity: 1.0;
}

::-moz-placeholder {
	color: _palette(fg-light) !important;
	font-style: italic;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: _palette(fg-light) !important;
	font-style: italic;
	opacity: 1.0;
}

.formerize-placeholder {
	color: _palette(fg-light) !important;
	font-style: italic;
	opacity: 1.0;
}

/* Box */

.box {
	border-radius: _size(border-radius);
	border: solid _size(border-width) _palette(border2);
	margin-bottom: _size(element-margin);
	padding: 1.5em;
	> :last-child,
	> :last-child> :last-child,
	> :last-child> :last-child> :last-child {
		margin-bottom: 0;
	}
	&.alt {
		border: 0;
		border-radius: 0;
		padding: 0;
	}
}

/* Icon */

.icon {
	@include icon;
	border-bottom: none;
	position: relative;
	>.label {
		display: none;
	}
}

/* Image */

img {
	max-width: 100%;
	height: auto;
}

.image {
	border-radius: _size(border-radius);
	border: 0;
	display: inline-block;
	position: relative;
	img {
		border-radius: _size(border-radius);
		display: block;
	}
	&.left {
		float: left;
		margin: 0 2.5em 2em 0;
		top: 0.25em;
	}
	&.right {
		float: right;
		margin: 0 0 2em 2.5em;
		top: 0.25em;
	}
	&.fit {
		display: block;
		margin: 0 0 _size(element-margin) 0;
		width: 100%;
		img {
			display: block;
			width: 100%;
		}
	}
	&.avatar {
		border-radius: 100%;
		overflow: hidden;
		img {
			border-radius: 100%;
			display: block;
			width: 100%;
		}
	}
	&-interior {
		display: block;
		margin-bottom: 1.5em;
		img {
			margin: auto;
			max-height: 75vh;
		}
	}
}

/* List */

ol {
	list-style: decimal;
	margin: 0 0 _size(element-margin) 0;
	padding-left: 1.25em;
	li {
		padding-left: 0.25em;
	}
}

ul {
	list-style: disc;
	margin: 0 0 _size(element-margin) 0;
	padding-left: 1em;
	li {
		padding-left: 0.5em;
	}
	&.alt {
		list-style: none;
		padding-left: 0;
		li {
			border-top: solid _size(border-width) _palette(border);
			padding: 0.5em 0;
			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}
	&.feature-icons {
		list-style: none;
		padding-left: 0;
		li {
			@include icon;
			display: inline-block;
			margin: 0 0 (_size(element-margin) * 0.75) 0;
			padding: 0.35em 0 0 3.5em;
			position: relative;
			vertical-align: top;
			width: 48%;
			&:before {
				background: _palette(accent1, bg);
				border-radius: 100%;
				color: _palette(accent1, fg-bold);
				display: block;
				height: 2.5em;
				left: 0;
				line-height: 2.5em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.5em;
			}
		}
	}
	&.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
		li {
			display: inline-block;
			padding: 0 1em 0 0;
			&:last-child {
				padding-right: 0 !important;
			}
			.icon {
				&:before {
					font-size: 1.25em;
				}
			}
		}
	}
	&.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;
		li {
			display: inline-block;
			padding: 0 (_size(element-margin) * 0.5) 0 0;
			vertical-align: middle;
			&:last-child {
				padding-right: 0;
			}
		}
		&.small {
			li {
				padding: 0 (_size(element-margin) * 0.25) 0 0;
			}
		}
		&.vertical {
			li {
				display: block;
				padding: (_size(element-margin) * 0.5) 0 0 0;
				&:first-child {
					padding-top: 0;
				}
				>* {
					margin-bottom: 0;
				}
			}
			&.small {
				li {
					padding: (_size(element-margin) * 0.25) 0 0 0;
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
		&.fit {
			display: table;
			margin-left: (_size(element-margin) * -0.5);
			padding: 0;
			table-layout: fixed;
			width: calc(100%+#{(_size(element-margin) * 0.5)});
			li {
				display: table-cell;
				padding: 0 0 0 (_size(element-margin) * 0.5);
				>* {
					margin-bottom: 0;
				}
			}
			&.small {
				margin-left: (_size(element-margin) * -0.25);
				width: calc(100%+#{(_size(element-margin) * 0.25)});
				li {
					padding: 0 0 0 (_size(element-margin) * 0.25);
				}
			}
		}
	}
}

dl {
	margin: 0 0 _size(element-margin) 0;
}

/* Table */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 _size(element-margin) 0;
	width: 100%;
	tbody {
		tr {
			border: solid _size(border-width) _palette(border);
			border-left: 0;
			border-right: 0;
			&:nth-child(2n+1) {
				background-color: _palette(border-bg);
			}
		}
	}
	td {
		padding: 0.75em 0.75em;
	}
	th {
		color: _palette(fg-bold);
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		padding: 0 0.75em 0.75em 0.75em;
		text-align: left;
	}
	thead {
		border-bottom: solid (_size(border-width) * 2) _palette(border2);
	}
	tfoot {
		border-top: solid (_size(border-width) * 2) _palette(border2);
	}
	&.alt {
		border-collapse: separate;
		tbody {
			tr {
				td {
					border: solid _size(border-width) _palette(border2);
					border-left-width: 0;
					border-top-width: 0;
					&:first-child {
						border-left-width: _size(border-width);
					}
				}
				&:first-child {
					td {
						border-top-width: _size(border-width);
					}
				}
			}
		}
		thead {
			border-bottom: 0;
		}
		tfoot {
			border-top: 0;
		}
	}
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
	@include vendor('appearance',
	'none');
	@include vendor('transition',
	('background-color #{_duration(transition)} ease-in-out',
	'color #{_duration(transition)} ease-in-out'));
	background-color: _palette(accent2, bg);
	border-radius: _size(border-radius);
	border: 0;
	color: _palette(accent2, fg-bold) !important;
	cursor: pointer;
	display: inline-block;
	font-weight: _font(weight-bold);
	height: _size(element-height);
	line-height: _size(element-height);
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	&:hover {
		background-color: lighten(_palette(accent2, bg), 5);
		color: _palette(accent2, fg-bold) !important;
	}
	&:active {
		background-color: darken(_palette(accent2, bg), 5);
	}
	&.icon {
		padding-left: 1.35em;
		&:before {
			margin-right: 0.5em;
		}
	}
	&.fit {
		display: block;
		margin: 0 0 (_size(element-margin) * 0.5) 0;
		width: 100%;
	}
	&.small {
		font-size: 0.8em;
	}
	&.big {
		font-size: 1.35em;
	}
	&.alt {
		background-color: transparent;
		box-shadow: inset 0 0 0 _size(border-width) _palette(border2);
		color: _palette(fg-bold) !important;
		&:hover {
			background-color: _palette(border2-bg);
			color: _palette(fg-bold) !important;
		}
		&:active {
			background-color: _palette(border3-bg);
		}
		&.icon {
			&:before {
				color: _palette(fg-light);
			}
		}
	}
	&.special {
		background-color: _palette(accent1, bg);
		color: _palette(accent1, fg-bold) !important;
		&:hover {
			background-color: lighten(_palette(accent1, bg), 5);
		}
		&:active {
			background-color: darken(_palette(accent1, bg), 5);
		}
	}
	&.disabled,
	&:disabled {
		background-color: _palette(fg) !important;
		box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
		color: _palette(bg) !important;
		cursor: default;
		opacity: 0.25;
	}
}

/* Features */

.features {
	article {
		border-top: solid (_size(border-width) * 1.5) _palette(border);
		margin-bottom: _size(element-margin);
		padding-top: _size(element-margin);
		&:first-child {
			border-top: 0;
			padding-top: 0;
		}
		a {
			border-bottom: 0;
			&:hover img {
				opacity: .8;
			}
		}
		.image {
			display: inline-block;
			padding-right: 2.5em;
			vertical-align: middle;
			width: 48%;
			img {
				display: block;
				/* width: 100%; */
				margin: auto;
			}
		}
		.inner {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			> :last-child {
				margin-bottom: 0;
			}
		}
		.image+.inner {
			width: 50%;
		}
	}
}

/* Header */

#header {
	@include vendor('display',
	'flex');
	@include vendor('flex-direction',
	'column');
	@include vendor('justify-content',
	'space-between');
	background: _palette(header, bg);
	color: _palette(header, fg);
	height: 100%;
	overflow-y: auto;
	position: fixed;
	text-align: center;
	top: 0;
	width: $size-header;
	@if _misc(header-side)=='right' {
		right: 0;
	}
	@else {
		left: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: _palette(header, fg-bold);
		a {
			color: _palette(header, fg-bold);
		}
	}
	header {
		p {
			color: _palette(header, fg-light);
		}
	}
	a {
		color: _palette(header, fg);
		&:hover {
			color: _palette(header, fg-bold) !important;
		}
	}
	>header {
		@include vendor('flex-shrink',
		'0');
		@include vendor('flex-grow',
		'1');
		padding: 1em 2em;
		.avatar {
			display: block;
			margin: 0 auto 1em auto;
			width: 6em;
		}
		h1 {
			font-size: 1.75em;
			margin: 0;
		}
		p {
			color: _palette(header, fg);
			font-style: italic;
			margin: .5em 0 0 0;
		}
	}
	>footer {
		@include vendor('flex-shrink',
		'0');
		bottom: 0;
		left: 0;
		padding: 1.5em;
		width: 100%;
		.icons {
			margin: 0;
			li {
				a {
					color: _palette(header, fg-light);
				}
			}
		}
	}
	>nav {
		@include vendor('flex-grow',
		'1');
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				border-top: solid _size(border-width) _palette(header, border);
				display: block;
				padding: 0;
				a {
					@include vendor('transition',
					'none');
					font-size: 24px;
					border: 0;
					color: _palette(header, fg-bold) !important;
					display: block;
					padding: 0.7em 0;
					text-decoration: none;
					&:hover {
						background: _palette(bg);
						color: _palette(header, bg) !important;
					}
				}
				&:first-child {
					border-top: 0;
				}
			}
		}
	}
}

/* Wrapper */

#wrapper {
	background: _palette(bg);
	@if _misc(header-side)=='right' {
		padding-right: $size-header;
	}
	@else {
		padding-left: $size-header;
	}
}

/* Main */

#main {
	>section {
		border-top: solid (_size(border-width) * 3) _palette(border);
		>.container {
			padding: 4em 0;
		}
		&:first-child {
			border-top: 0;
		}
	}
}

/* One */

#one {
	&:before {
		background-image: url('/img/banner.jpg');
		background-position: top right;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: block;
		height: 15em;
		width: 100%;
	}
}

/* Footer */

#footer {
	background: #fafafa;
	border-top: 0;
	color: #c0c0c0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	.copyright {
		line-height: 1em;
		list-style: none;
		padding: 0;
		margin: 2em 0;
		li {
			border-left: solid 1px #d4d4d4;
			display: inline-block;
			font-size: 0.8em;
			margin-left: 1em;
			padding-left: 1em;
			&:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
			a {
				color: inherit;
			}
		}
	}
}

/* XLarge */

@include breakpoint(xlarge) {
	$size-header: 21em;
	/* Basic */
	body,
	input,
	select,
	textarea {
		font-size: 13pt;
	}
	/* Header */
	#header {
		width: $size-header;
		>header {
			padding: 2em;
		}
		>footer {
			padding: 1.5em;
		}
	}
	/* Wrapper */
	#wrapper {
		@if _misc(header-side)=='right' {
			padding-right: $size-header;
		}
		@else {
			padding-left: $size-header;
		}
	}
	/* Main */
	#main {
		>section {
			>.container {
				padding: 4em 0 2em 0;
			}
		}
	}
}

/* Large */

@include breakpoint(large) {
	$size-header: 20em;
	/* Basic */
	body,
	input,
	select,
	textarea {
		font-size: 11pt;
	}
	/* Header */
	#header {
		width: $size-header;
	}
	/* Wrapper */
	#wrapper {
		@if _misc(header-side)=='right' {
			padding-right: $size-header;
		}
		@else {
			padding-left: $size-header;
		}
	}
}

/* Medium */

#titleBar {
	display: none;
}

@include breakpoint(medium) {
	/* Basic */
	html,
	body {
		overflow-x: hidden;
	}
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
	/* Image */
	.image {
		&.left,
		&.right {
			max-width: 40%;
			img {
				width: 100%;
			}
		}
	}
	/* Header */
	#header {
		@include vendor('backface-visibility',
		'hidden');
		@include vendor('transition',
		('transform #{_duration(header)} ease'));
		display: block;
		height: 100%;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: $size-header;
		z-index: _misc(z-index-base) + 2;
		@if _misc(header-side)=='right' {
			@include vendor('transform',
			'translateX(#{$size-header})');
			right: 0;
		}
		@else {
			@include vendor('transform',
			'translateX(#{$size-header * -1})');
			left: 0;
		}
		>footer {
			bottom: auto;
			left: auto;
			margin: 0.5em 0 0 0;
			position: relative;
			right: auto;
			top: auto;
		}
	}
	/* Wrapper */
	#wrapper {
		@include vendor('backface-visibility',
		'hidden');
		@include vendor('transition',
		'transform #{_duration(header)} ease');
		padding: 44px 0 1px 0;
	}
	/* One */
	#one {
		&:before {
			height: 10em;
		}
	}
	/* Off-Canvas Navigation */
	#titleBar {
		@include vendor('backface-visibility',
		'hidden');
		@include vendor('transition',
		'transform #{_duration(header)} ease');
		display: block;
		height: 44px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base) + 1;
		background: #222;
		color: #fff;
		min-width: 320px;
		.title {
			color: #fff;
			display: block;
			font-weight: _font(weight-bold);
			height: 44px;
			line-height: 44px;
			padding: 0 1em;
			width: 100%;
			@if _misc(header-side)=='right' {
				text-align: left;
			}
			@else {
				text-align: right;
			}
			a {
				border: 0;
				text-decoration: none;
			}
		}
		.toggle {
			@include icon;
			height: 4em;
			position: absolute;
			top: 0;
			width: 6em;
			border: 0;
			outline: 0;
			@if _misc(header-side)=='right' {
				right: 0;
			}
			@else {
				left: 0;
			}
			&:before {
				background: _palette(accent1, bg);
				color: _palette(accent1, fg-bold);
				content: '\f0c9';
				display: block;
				font-size: 18px;
				height: 44px;
				line-height: 44px;
				position: absolute;
				text-align: center;
				top: 0;
				width: 64px;
				@if _misc(header-side)=='right' {
					right: 0;
				}
				@else {
					left: 0;
				}
			}
		}
	}
	body {
		&.header-visible {
			#wrapper,
			#titleBar {
				@if _misc(header-side)=='right' {
					@include vendor('transform',
					'translateX(#{$size-header * -1})');
				}
				@else {
					@include vendor('transform',
					'translateX(#{$size-header})');
				}
			}
			#header {
				@include vendor('transform',
				'translateX(0)');
			}
		}
	}
}

/* Small */

@include breakpoint(small) {
	$size-header: 18em;
	/* Basic */
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		br {
			display: none;
		}
	}
	h2 {
		font-size: 1.75em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1em;
	}
	/* Image */
	.image {
		&.left {
			margin: 0 1.5em 1em 0;
		}
		&.right {
			margin: 0 0 1em 1.5em;
		}
	}
	/* Section/Article */
	header {
		br {
			display: none;
		}
		&.major {
			h2 {
				font-size: 2.5em;
				&+p {
					font-size: 1.5em;
				}
			}
		}
	}
	/* Features */
	.features {
		article {
			.image {
				display: block;
				margin: 0 0 _size(element-margin) 0;
				padding-right: 0;
				width: 100%;
			}
			.inner {
				display: block;
				width: 100%;
			}
			.image+.inner {
				width: 100%;
			}
		}
	}
	/* Header */
	#header {
		width: $size-header;
		@if _misc(header-side)=='right' {
			@include vendor('transform',
			'translateX(#{$size-header})');
			right: 0;
		}
		@else {
			@include vendor('transform',
			'translateX(#{$size-header * -1})');
			left: 0;
		}
		>header {
			padding: 2em 1em;
			.avatar {
				margin: 0 auto (_size(element-margin) * 0.75) auto;
				width: 6em;
			}
			h1 {
				font-size: 1.5em;
			}
			p {
				margin: 1em 0 0 0;
			}
		}
		> nav ul li a {
			font-size: inherit;
		}
		>footer {
			padding: 1.5em;
		}
	}
	/* Main */
	#main {
		>section {
			>.container {
				padding: 2em 0 0 0;
			}
		}
	}
	/* One */
	#one {
		&:before {
			height: 7em;
		}
	}
	/* Footer */
	#footer {
		text-align: center;
		.copyright {
			li {
				border-left: 0;
				display: block;
				line-height: 1.75em;
				margin: 0.75em 0 0 0;
				padding-left: 0;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	/* Off-Canvas Navigation */
	#titleBar {
		.toggle {
			height: 4em;
			width: 6em;
			&:before {
				font-size: 14px;
				width: 44px;
			}
		}
	}
	body {
		&.header-visible {
			#wrapper,
			#titleBar {
				@if _misc(header-side)=='right' {
					@include vendor('transform',
					'translateX(#{$size-header * -1})');
				}
				@else {
					@include vendor('transform',
					'translateX(#{$size-header})');
				}
			}
		}
	}
}

/* XSmall */

@include breakpoint(xsmall) {
	/* Basic */
	html,
	body {
		min-width: 320px;
	}
	body,
	input,
	select,
	textarea {
		font-size: 12pt;
	}
	/* List */
	ul {
		&.actions {
			margin: 0 0 _size(element-margin) 0;
			li {
				display: block;
				padding: (_size(element-margin) * 0.5) 0 0 0;
				text-align: center;
				width: 100%;
				&:first-child {
					padding-top: 0;
				}
				>* {
					width: 100%;
					margin: 0 !important;
					&.icon {
						&:before {
							margin-left: -2em;
						}
					}
				}
			}
			&.small {
				li {
					padding: (_size(element-margin) * 0.25) 0 0 0;
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
		&.feature-icons {
			li {
				display: block;
				width: 100%;
			}
		}
	}
	/* Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0;
	}
}